@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');


:root {
    --verm-geral: #c1272d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html {
    font-size: 18px;

}

.header {
   
    display: block;
    width: 100%;
    /* position: absolute; */
    /* float: left; */
    align-items: center;
    text-align: center;
    background-color: #323236;
    height: 149px;
    padding-bottom: 3px;
    border-bottom: 12px solid #38a28f;
    

}

.header img {
   
    object-fit: cover;
   

}

#fundoimg {
    display: flex;
    position: relative;
    float: left;
    top:3px;
    left: 3px ;
    
    margin-left: 1px;
    padding: 3px;
    border-radius: 3px;
   
}
#fundoimg img{
    width: 73%; 
    height: auto;
    background-color: #ffffff;

}
main {
    overflow-y: auto;
    display: block;
}
.header div {
    flex: 1;
    position: relative;
    margin-left: 3px;
    top: 0.2px;
    left: 0.2px;
    font-size: 2.3rem;
    color: black;
    font-weight: 545;
    text-shadow: 2px 2px 7px #ffffff, 2px 4px 7px #ffffff;
    z-index: 12;


}
.header #idtitulo{
    color: #dcc204;
    position: relative;
    top: 21px;
    font-size: 32px;
}
.cmenu {
    display: block;
    position: absolute;
    float: left;
    top: 160px;
    width: 300px;
    
}

.cmenu a {
    display: block;
    text-decoration: none;
    padding: 12px 7px;
    font-size: 1rem;
    color: white;
    background-color: #323236;
    border: 2px solid #636368;
    /* margin-top: 7px; */
    margin-left: 7px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    width: 80%;
    margin-left: 3px;


}

.cmenu a:hover,
.cmenu a:active {
    background-color: rgba(32, 32, 31, 0.891);
    box-shadow: 0 8px 16px 0 rgba(101, 101, 100, 0.974), 0 6px 20px 0 rgba(101, 101, 100, 0.974);
    color: rgb(247, 213, 179);
    border: 2px solid #6f6f6d;
    cursor: pointer;
}
.linkMensagem{
    color:black;    

}
.content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    margin: 0 auto;  
    background-color: white;
    top: 160px;
    font-family: 'Alef', 'Playfair Display', serif;
     width: 81%;
   
}

.artigo{
    margin: 0 auto;
    /* margin: 0px 16px 10px 16px; */
    background-color: white;
    padding: 0px 5px 0px 5px;
    width: 95%;
}
.artigo p {
    font-family: 'Alef', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
   


}
 .artigo h4{
    color:#38a28f;
    margin-top: 16px;
 }
.prece {
    font-style: italic;
   /*  font-size: 17px; */
}
.Deus {
    font-weight:normal;
    /* font-size: 17px; */
}

.negrito{
    font-weight: bold;
}

.inclinado{
    font-style: italic;
    font-weight: 300;
}
.inc{
    font-style: italic;
    font-weight: 300;
}
.comentario{
   
    font-size: 17px;
}
#idsalmos{
    display: block;
    background-color: var(--verm-geral);
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12%;

}
.marcatexto {
    background-color: #e5fb82d9; /* amarelo claro, típico de marca-texto */
    color: #3f4140; /* texto escuro para contraste */
    border-top: 2px solid #f9faf8;
    padding-bottom: 1.6px;
    border-radius: 3px;
    
    
   /* font-weight: 600;*/
}
.mensagemTreho_c{
   
    width: 100%;
    display: block;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin: 0px 16px 10px 16px; 
    background-color: transparent;
    padding: 16px 57px 0px 57px;
}
.mensagemTreho_j{
    margin-top: 34px;
    width: 100%;
    display: block;
    font-style: italic;
    font-size: 17px;
    text-align: justify;
    margin: 0px 16px 10px 16px; 
    background-color: transparent;
    padding: 16px 57px 0px 57px;
}

.mensagemTreho_j_n{
    margin-top: 34px;
    width: 100%;
    display: block;
   
    font-size: 1.05rem;
    text-align: justify;
    margin: 0px 3px 10px 3px; 
    background-color: transparent;
    padding: 16px 57px 0px 57px;
}
.artigo h3 {
    color:  #d4bc03;
    margin-top: 16px;
    margin-bottom: 2px;
    padding: 3px;
}

.nota {
    display: inline-block;
    background-color: transparent;
    border-radius: 7%;
    text-shadow: 2px 2px 7px #f7e013f3;
    font-weight: 600;
    color: #585858;
}

.nota:hover {
    background-color: #ebea97;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;

}

.rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    height: auto;
    position: relative;
    padding: 4.3px;
    z-index: 1;
    margin-top: 21px;

}

.rodape::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    width: 50%;
    border-top: 2px solid var(--verm-geral);

}

.rodape a {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--verm-geral);
    font-weight: 600;

}

.rodape a:hover {
    text-decoration: underline;
}
#nR{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--verm-geral);
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 21px;
}
.menuOculto {
    display: none;

}

.menuX {
    display: none;
}

.ornamento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    padding: 5.2px;
}
#navmens{
    display: flex;
    justify-content: center;
}
#idseguirm, #idvoltarm{
    display: block;
    padding: 3px;
    color: #c1272d;
   margin: 0 16px;
   
}
#idindicem {
    display: block;
    padding: 4px;
    background-color:#c1272d;
    color: white;
}
#idseguirm:hover{
    cursor: pointer;
color: #fa9194;

} 
#idvoltarm:hover{
    cursor: pointer;
    color:#fa9194; 
}
#idindicem:hover {
cursor: pointer;
color:#6e1400;
background-color:#fa9194;
}
.a_estilo1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#6e1400;
}
.imagemjesus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    padding: 5.2px;
    
}

/* The Modal (background) */

    div.boxmsg {
        display: none;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 0;
        max-height: 200px;
        min-height: 0; /* Adicione esta linha */
        background-color: rgb(54, 54, 54);
        border: 2px solid #545554;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .87rem;
        padding: 7px 16px 7px 12px;
        overflow-y: auto;
        overflow-y: overlay; /* Para navegadores que suportam */
        box-sizing: border-box;
      }
    

dialog {
    border-color: #c1272d;
}

.close {

    color: var(--verm-geral);
    float: right;

    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Estilo para o navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 9999;
    transition: 0.5s;
  }
  
  /* Links dentro do navbar */
  .navbar a {
    float: none;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Adiciona uma cor de fundo ao link ativo */
  .active {
    background-color: #ecad19;
    color: white;
  }
  
  /* Ícone do menu */
  .icon {
    position: absolute;
   left: 7px;
    z-index: 999;
    cursor: pointer;
    background-color: #ecad19;
    width: 30px;
    margin-bottom: 12px;
    
    top: 160px;
    padding: 7px;
    color: #0d6872;
 
    border: rgb(238, 238, 73) 1px solid;
    border-radius: 7px;
    border-style:outset;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
 
  /* Adiciona uma cor de fundo ao ícone do menu quando o mouse passa por cima */
   .icon:hover {
    background-color: #f8e091;
  } 
  
  /* Estilo para o conteúdo da página */
  .content {
    padding: 20px;
    transition: margin-left .7s;
    padding-left: 0;
  }
  
  /* Estilo para o botão close */
  .closebtn {
    position: absolute;
    top: 0;
    right: .5px;
    font-size: 36px;
    margin-left: 50px;
    display: inline-block;
  }
  
  /* Adiciona uma cor de fundo ao botão close quando o mouse passa por cima */
  .closebtn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
  .aqui{
    text-decoration:underline;
  }

  #subnav{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#iddatas{
    display:block;
    
    padding: 2px;
   border: 1.7px solid #000;
   box-shadow: 2px 2px 17px hsla(0, 1%, 29%, 0.302);
   cursor: pointer;
}
 #inputsalmo {
    display: flex;
    margin: 0 auto;
    
    width: 100%;
}

 #idbuscarsalmo {
    display: block;
    font-size: 18px;
    border: #000 solid 1px;
    padding: 1px 7px 1px 7px;
    margin-left: 5px;
    font-weight: bold;
    background-color: #38a28f;
    box-shadow: 3px 4px 12px 4px hsla(0, 1%, 29%, 0.302);
    border-radius: 12px;
}
#idbuscarsalmo:hover{
    cursor: pointer;
    background-color: #ebea97;
    color: #000;
}
#idsalterio {
    display: block;
    float: left;
   margin-bottom: 12px;
    background-color: #0d6872;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    padding: 7px;
    text-align: center;
    padding-right: 61px;
    margin-left: 33px ;
}

 #lsalmos {
    width: 77px;
    font-size: 12pt;
    height: 25px;

}

.artigo #lsamos2 {
    border-bottom: 1px solid #000;
}

.artigo #idlabel {
    display: block;
    margin-right: 7px ;
    
}

 .content #dicsalmo {
    display: block;
    text-align: justify;
    width: 77%;
    margin: 0 auto;
}
#idvolta, #idsegue{
    display: block;
    padding: 3px;
    cursor: pointer;
}
#idtsalmo{
    font-size: large;
    font-weight: bold;
   text-align: center;

}
.ladainha{
    display: block;
    margin: 10px 30%;
    color: var(--verm-geral) !important;
    font-style: italic;
    font-weight: bolder;
}
.ladainhas {
    display: block;
    
   margin: 20px 16%;
    
}

.tablink {
    background-color: #ecbb48;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 7px;
    font-size: 17px;
    width: 21%;
    margin-bottom: 30px;
    
  }
  
  .tablink:hover {
    background-color:#fad379;
    
  }
  
  /* Estilize o conteúdo das abas (e defina a altura) */
  .tabcontent {
    color: white;
    display: none;
    padding: 12px 20px;
    border-top: none;
    height: 100%;
   
  }

@media  screen and (max-width : 700px)  {
    html {
    font-size: 1.2rem;

}
    .header #idtitulo{
        position:absolute;
        top: 15px;
        font-size: 1.11rem;
        float:left;
        left: 182px;
        z-index: 9999;
    }
    #fundoimg {
        float:left;
        margin-left: 1px;
    }
    #fundoimg img{
        float:left;
        margin-left: 1px;
        width: 70%;
        height: auto;

    }
    /* .header img{
        width: 33%;
        height: auto;
    } */

    .navbar{
        z-index: 9999;
    }
    .content {
        width: 94%;
        margin: 0 auto;
    }
 

  
    #menu {
        display: none;
        position: relative;
        float: left;
        margin-left: .5px;
        top: 160px;
        width: 300px;
        z-index: 9999;

    }

    .artigo {
        width: 100;
        margin: 0 auto;
    }

    .artigo p {

        word-wrap: break-word;
    }

    .menuOculto {
        content: '&#9776;';
        display: block;
        font-weight: 600;
        color: #000000;
        position: absolute;
        top: 5px;
        float: right;
        margin-right: 2px;
        padding: 7px;
        width: auto;
        height: auto;
        border: 2px solid #000;
        border-radius: 5px;
        box-shadow: 2px 2px 7px #404040;
    }

    .menuX {
        display: block;
        width: 250px;
        text-align: right;
        font-weight: 700;
        color: var(--verm-geral);
    }

    .menuX:hover {
        cursor: pointer;
        color: #efe117f3, 0;
        text-shadow: 2px 2px 7px #404040;
    }

 .icon {
    /* float: left; */
    position: absolute;
   left: 3px;
    z-index: 999;
    padding: 5.2px;
    /* width: 30px; */
     

    
 }
 .mensagemTreho_c{
   
    width: 100%;
    display: block;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    margin: 0px 7px 5px 7px; 
    background-color: transparent;
    padding: 7px 12px 0px 12px;
}
.mensagemTreho_j{
    margin-top: 34px;
    width: 100%;
    display: block;
    font-style: italic;
    font-size: 1rem;
    text-align: justify;
    margin: 0px 7px 5px 7px; 
    background-color: transparent;
    padding: 7px 12px 0px 12px;
}
.ladainha{
    display: block;
    margin: 30px 2%;
}
.ladainhas {
    display: block;
    
   margin: 2px 3% 12px auto;
}
.tablink {
    width: 33.3%;
}

}

/* Centraliza o artigo, ornamento e imagemjesus horizontalmente */
.content {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Garante que o artigo esteja centralizado */
.artigo {
    width: 100%; /* Mantém a largura definida */
    margin: 0 auto; /* Centraliza caso necessário */
}

/* Centraliza o ornamento */
.ornamento {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Adiciona espaçamento vertical */
}

/* Centraliza a imagemjesus */
.imagemjesus {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Adiciona espaçamento vertical */
}

